body {
  background-color: #092B40;
}
#search-box {
  border: 5px solid orange !important;
  border-radius: 25px;
}
.container .text-center {
  font-size: 54px;
}
.text-color {
  color: #fff;
}
.margin {
  margin-bottom: 45px;
}
#search-box {
  height: 45px;
  width: 300px;
  font-size: 23px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.wiki-results {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 30px;
}
.wiki-results .item:last-child {
  margin-bottom: 0px;
}
.wiki-results .item {
  padding: 10px;
  background-color: #E7E7E8;
  margin-bottom: 10px;
}